In [1]:
import pandas as pd

In [25]:
# script to turn csv file into a sql query creating a table based on that file
def csv_to_create(your_csv_file, new_table_name):
    data = pd.read_csv(your_csv_file)
    data.columns = data.columns.str.lower().str.replace(' ', '_').str.replace('-', '_').str.replace('+', '_plus')
    table_name = new_table_name
    sql_script = f"CREATE TABLE {table_name} (\n"
    for column in data.columns:
        column_type = data[column].dtype
        if column_type == 'object':
            column_type = 'TEXT'
        elif column_type == 'int64':
            column_type = 'INTEGER'
        elif column_type == 'float64':
            column_type = 'REAL'
        sql_script += f"    {column} {column_type},\n"
    sql_script = sql_script.rstrip(',\n')  # Remove the trailing comma
    sql_script += "\n);"
    print(sql_script)

In [30]:
csv_to_create('acs2017_county_data.csv', 'acs2017_county_data')

CREATE TABLE acs2017_county_data (
    countyid INTEGER,
    state TEXT,
    county TEXT,
    totalpop INTEGER,
    men INTEGER,
    women INTEGER,
    hispanic REAL,
    white REAL,
    black REAL,
    native REAL,
    asian REAL,
    pacific REAL,
    votingagecitizen INTEGER,
    income INTEGER,
    incomeerr INTEGER,
    incomepercap INTEGER,
    incomepercaperr INTEGER,
    poverty REAL,
    childpoverty REAL,
    professional REAL,
    service REAL,
    office REAL,
    construction REAL,
    production REAL,
    drive REAL,
    carpool REAL,
    transit REAL,
    walk REAL,
    othertransp REAL,
    workathome REAL,
    meancommute REAL,
    employed INTEGER,
    privatework REAL,
    publicwork REAL,
    selfemployed REAL,
    familywork REAL,
    unemployment REAL
);

C:\Users\bookhutt\AppData\Local\Temp\ipykernel_1752\2051787378.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data.columns = data.columns.str.lower().str.replace(' ', '_').str.replace('-', '_').str.replace('+', '_plus')

In [2]:
# Import the CSV file
data = pd.read_csv('COVID19_state.csv')

# Modify column labels to lower case with underscores
data.columns = data.columns.str.lower().str.replace(' ', '_')

# Generate SQL script for table creation
table_name = 'new_table'
sql_script = f"CREATE TABLE {table_name} (\n"
for column in data.columns:
    column_type = data[column].dtype
    if column_type == 'object':
        column_type = 'TEXT'
    elif column_type == 'int64':
        column_type = 'INTEGER'
    elif column_type == 'float64':
        column_type = 'REAL'
    sql_script += f"    {column} {column_type},\n"
sql_script = sql_script.rstrip(',\n')  # Remove the trailing comma
sql_script += "\n);"

# Print the SQL script
print(sql_script)

CREATE TABLE new_table (
    state TEXT,
    tested INTEGER,
    infected INTEGER,
    deaths INTEGER,
    population INTEGER,
    pop_density REAL,
    gini REAL,
    icu_beds INTEGER,
    income INTEGER,
    gdp INTEGER,
    unemployment REAL,
    sex_ratio REAL,
    smoking_rate REAL,
    flu_deaths REAL,
    respiratory_deaths REAL,
    physicians INTEGER,
    hospitals INTEGER,
    health_spending INTEGER,
    pollution REAL,
    med-large_airports REAL,
    temperature REAL,
    urban REAL,
    age_0-25 REAL,
    age_26-54 REAL,
    age_55+ REAL,
    school_closure_date TEXT
);

In [ ]:
# Modify column labels to lower case with underscores
data.columns = data.columns.str.lower().str.replace(' ', '_')

# Generate SQL script for table creation
table_name = 'new_table'
sql_script = f"CREATE TABLE {table_name} (\n"
for column in data.columns:
    column_type = data[column].dtype
    if column_type == 'object':
        column_type = 'TEXT'
    elif column_type == 'int64':
        column_type = 'INTEGER'
    elif column_type == 'float64':
        column_type = 'REAL'
    sql_script += f"    {column} {column_type},\n"
sql_script = sql_script.rstrip(',\n')  # Remove the trailing comma
sql_script += "\n);"

# Print the SQL script
print(sql_script)
Make sure to replace 'your_file.csv' with the path to your actual CSV file. The code will read the CSV file using pandas, modify the column labels to lower case with underscores, and generate a SQL script to create a new table.

You can adjust the script as per your specific requirements, such as modifying the column types based on the data in your CSV file. The script assumes that non-numeric columns are of type TEXT, integer columns are of type INTEGER, and float columns are of type REAL. You can modify these mappings as needed.

After running the script, you will have the SQL script printed in the console. You can copy and execute this script in your PostgreSQL database using DataGrip or any other SQL client to create the new table with each column from the CSV file.